<!DOCTYPE html>
<html>
<head>
	<title>Button Demo</title>
	<link rel="stylesheet" href="toast.css">
	<link rel="stylesheet" href="../css/Button.css">
</head>
<body>
		<div id='toastO'>
				<div id='toastI'></div>
			</div>
	<div id="button-container">
	</div>

	<button id='toast1'>Press for toast</button>
	<script src='toast.js'> </script>
	<script type="text/javascript" src="../../utility/PropValidator.js" defer></script>
	<script type="text/javascript" src="Button.js" defer></script>
</body>
</html>